:root {
    --container-paddding: 20px;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;
}

body {
    padding: 0 var(--container-paddding);
    color: var(--vscode-foreground);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}

ol,
ul {
    padding-left: var(--container-paddding);
}

button {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button:focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: 2px;
}

button.secondary {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
}

textarea {
    width: 100%;
    height: 100px;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
    font-family: var(--vscode-font-family);
    resize: vertical;
}

textarea:focus {
    outline: 1px solid var(--vscode-focusBorder);
}